.notfound-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 2rem;
  text-align: center;
}