@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font: inherit;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 600px) {
    .container {
        padding: 2rem;
    }
}

@media (min-width: 900px) {
    .container {
        padding: 3rem;
    }
}